body {
    background-color: rgb(255, 255, 246);
}

ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}


box {
    background-color: rgb(255, 255, 246);
    border-top: none;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 3px;
    padding: 5px 5px 5px;
    top: 0px;
    right: 100px;
    position: fixed;
    cursor: pointer;
}

.about-box {
    background-color: white;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 3px;
    padding: 0 30px 0px 30px;
    top: 0;
    right: 70px;
    width: 30%;
    display: none;
    position: fixed;
}

.center {
    text-align: center;
}

.font {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1%;
    text-decoration-line: none;
    color: gray;
    cursor: pointer;
}
.link:hover {
    color: bisque;
}
.link:active {
    color: black;
}

.nav {
    display: inline;
}
.nav1 {
    display: inline;
    margin-left: 3%;
}

.proj-img {
    border-style: solid;
    border-width: 4px;
    max-width: 50%;
    max-height: 30%;
    padding: 0 0 0 0;
}
.proj-text {
    width: 40%;
    overflow: auto;
}

.fine-print {
    border-left: solid;
    border-color: brown;
    border-width: 4px;
    background-color: burlywood;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 3px 2px 3px 2px;
    margin-bottom: 0;
}

#boxToggle {
    user-select: none;
}

::-webkit-scrollbar {
    width: 7px;
  }

::-webkit-scrollbar-track {
background: rgb(255, 255, 246);
}

::-webkit-scrollbar-thumb {
background: burlywood;
}

::-webkit-scrollbar-thumb:hover {
background: bisque;
}
